.container {
  margin-top: 30px;
}

.add-todo-form {
  background-color: #00ff7f; /* Green background for the form */
  padding: 20px;
  border-radius: 10px;
}

.todo-item {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
}

.list-group-item-primary {
  background-color: #cce5ff;
}

.list-group-item-success {
  background-color: #d4edda;
}

.list-group-item-warning {
  background-color: #fff3cd;
}

.list-group-item-danger {
  background-color: #f8d7da;
}